body{
    font-family: "Poppins", sans-serif;
    color: #22343D;
    font-style: normal;
    font-weight: 400;
}

h1,h2,h3,h4,h5,h6,ul,li,p{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

/*Header*/

.container{
    width: 1158px;
    margin: 0 auto;
    padding-left:25px;
    padding-right: 25px; 
}

.header{
    max-height: 80px;
    margin-bottom: 100px;
    
}
.header-container{
    padding: 22px 0 22px 0;
    display: flex;
    align-items: center;
    padding-left:25px;
    padding-right: 25px;
}

.header-icon{
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
    margin-right: 237px;
}

.logo-text{
    font-size: 30px;
    line-height: 0.933;
    font-weight: 700;
    color: #173A56;
}

.header-navigation-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 73px;
}

.nav-menu-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    color:#22343D;
}

.nav-menu-item:hover, .nav-menu-item:focus{
    font-weight: 600;
}

#nav-menu-item-studio{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
    color:#22343D;
}


.header-signin-button{
    width: 105px;
    height: 42px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: #173A56;
    text-align: center;
    background-color: #ffffff;
    margin-right:21px;
}

.header-signup-button{
    width: 113px;
    height: 42px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #02897A;
    margin-right:21px;
}

.mobile-menu-button {
    display: none;
    padding: 0;
}


@media (max-width: 1158px){
    .container{
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }
}


/*Main Section 1*/

.pricing-section-one-container{
    margin-bottom: 150px;
    text-align: center;
}

.pricing-section-one-text1{
    font-size: 24px;
    margin-bottom: 32px;
    font-weight: 600;
    line-height: 100%; 
}

.pricing-section-one-header{
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 16px;
}

.pricing-section-one-text2{
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    margin-bottom: 49px;
}


.section-eight-price-cards-list{
    display: flex;
    
    gap: 72px;
    justify-content: space-between;
    align-items: center;
}

.section-eight-price-cards-list-item{
    width: calc((100% - 2*72px) / 3);
    border: none;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.25);
    border-radius: 8px;
}

.content-card-header{
    margin: 32px auto 8px auto;
    font-size: 24px;
    line-height: 1.67;
    font-weight: 700;
}

.content-card-text1{
    margin: 0 auto 16px auto;
    font-size: 16px;
    line-height: 2.5;
}

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 16px;
}
.price-number{
    color: #02897A;
    font-size: 76px;
    line-height: 1.32;
    letter-spacing: 0.2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.price-supplement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.currency{
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0.1px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    color: #02897A;
}

.permonth{
    font-family: "Montserrat", sans-serif;
    font-size:16px;
    line-height: 1.19;
    letter-spacing: 0.1px;
    color: #AFAFAF;
}

.content-card-text2{
    margin: 0 auto 16px auto;
    font-family: "Montserrat", sans-serif;
    font-size:16px;
    line-height: 1.38;
    letter-spacing: 0.2px;
}

.content-card-text3{
    margin: 0 auto 16px auto;
    font-family: "Montserrat", sans-serif;
    font-size:16px;
    line-height: 1.38;
    letter-spacing: 0.2px;
}

.content-card-text4{
    margin: 0 auto 30px auto;
    font-family: "Montserrat", sans-serif;
    font-size:16px;
    line-height: 1.38;
    letter-spacing: 0.2px;
}

.price-button{
    display: block;
    width: 139px;
    height: 44px;
    margin: 0 auto 32px auto; 
    border-radius: 8px;
    border: none;
    background-color: #02897A;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    line-height: 100%;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

#middle-card1{
    color: #ffffff;
    background-color: #02897A;
}

#middle-card-button{
    color:#02897A;
    background-color: #ffffff;
}

#middle-card5{
    color: #ffffff;
}

#middle-card6{
    color: #ffffff;
}

#middle-card7{
    color: #ffffff;
}

#middle-card8{
    color: #ffffff;
}

/*Main Section 2*/

.section-two{
    background-image: linear-gradient(to bottom, rgba(246, 246, 246, 1), rgba(246, 246, 246, 0));
}

.section-two-container{
    margin-bottom: 294px;
    text-align: center;
}

.pricing-section-two-text1{
    padding-top: 53px;
    font-size: 24px;
    font-weight:600;
    line-height: 100%;
    margin-bottom: 16px;
}

.pricing-section-two-header{
    font-size: 34px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 8px;
}

.pricing-section-two-text2{
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 32px;
}

.section-two-button{
    display: block;
    margin: 0 auto;
    margin-bottom: 51px;
    width: 224px;
    height: 44px;
    text-align: center;
    font-size: 18px;
    color: white;
    line-height: 100%;
    background-color: #02897A;
    border: none;
    border-radius: 8px;
}

/*Main Section 3*/


.section-three-container{
    margin-bottom: 100px;
}

.section-three-list{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.section-three-container-header{
    text-align: center;
    font-size: 34px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 56px;
}

.section-three-inner-container{
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.section-three-image-container{
    width: 100%;
    max-width: 528px;
}

.section-three-image{
    width: 100%;
    height: auto;
}

.section-three-list-inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.section-three-list-inner-header{
    display: flex;
    gap: 14px;
    justify-content: flex-start;
    align-items: center;
}

.section-three-list-inner-header-text{
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
}

/*Main Section 4*/

.section-four-container{
    margin: 0 auto 150px auto;
    max-width: 920px;
}

.section-four-header{
    text-align: center;
    font-size: 34px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 8px;
}

.section-four-main-text{
    margin-bottom: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 100%;
}

.section-four-faq-one{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid rgba(231, 231, 231, 1);
}

.section-four-faq-header{
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 22px;
}

.section-four-faq-two{
    border-bottom: 1px solid rgba(231, 231, 231, 1);
    margin-bottom: 16px;
}

.section-four-faq-two-inner{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding-top: 16px;
    
}

.section-four-faq-header2{
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 14px;
}
.section-four-faq-text{
    max-width: 920px;
    font-size: 16px;
    line-height: 150%;
    margin-top: 16px;
    margin-bottom: 24px;
}

.section-four-faq-three{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid rgba(231, 231, 231, 1);
    margin-bottom: 16px;
}

.section-four-faq-four{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid rgba(231, 231, 231, 1);
}

/*Main Section 5*/

.section-ten-container{
    margin: 0 auto 100px auto;
    width: 968px;
    background-color: #02897A;
    border-radius: 32px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}

.section-ten-header{
    margin: 49px 0px 46px 51px;
    width: 510px;
    font-size: 32px;
    line-height: 151%;
    letter-spacing: 0%;
    color: #ffffff;
    font-weight: 600;
}

.section-ten-button{
    text-align: center;
    color: #02897A;
    background-color: #ffffff;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    border:none;
    margin: 0px 0px 56px 51px;
    font-size:20px;
    line-height: 100%;
    font-weight: 600;
}

.section-ten-image-container{
    width: 100%;
    max-width: 351px;
}

.section-ten-image{
    margin: 4px 46px 10px 0px;
    width: 100%;
    height: auto;
}



/*Footer*/

.footer{
    margin-bottom: 40px;
}

.main-footer-container{
    display: flex;
    margin-bottom: 10px;
}

.footer-column-one{
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: flex-start;
    align-items: center;
    margin-right: 146px;
}
.footer-icon{
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: center;
}
.sl-icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}

.sl-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #EDFFFC;
}

.footer-column-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-right: 129px;
}

.footer-column-two-list-header{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
.footer-column-two-list-item{
    font-size: 16px;
    line-height: 2.1875;
}

.footer-column-three{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-right: 109px;
}

.footer-form-header{
    max-width: 280px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.footer-form-container{
    display: flex;
    flex-direction: column;
}

.footer-form{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-tel-input-container{
    position: relative;
}

.tel-input::placeholder{
    color: #02897A;
    font-size: 16px;
}

.tel-input{
    width: 325px;
    height: 48px;
    padding-left: 4px;
    border: 1px solid #BCD0E5;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    border-radius: 4px;
    text-indent: 42px;
}

.input-icon{
    position: absolute;
    pointer-events: none;
    transform: translateY(-50%);
    top: 50%;
    left: 16px;
    cursor: default;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button{
    width: 131px;
    height: 39px;
    text-align: center;
    background-color: #02897A;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

.rights{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1.875;
}